{% extends "base.html" %}

{% block styles %}
{% if is_downloads %}
<link rel="stylesheet" href="/static/css/downloads.css?v=20260728-single">
{% else %}
<link rel="stylesheet" href="/static/css/changelog.css?v=20260728-timeline">
{% endif %}
{% endblock %}

{% block main %}
<main id="main-content" class="marketing-main{% if is_downloads %} download-main{% else %} changelog-main{% endif %}">
  {% if is_downloads %}
  {% include "downloads-catalog.html" %}
  {% else %}
  {% include "changelog-catalog.html" %}
  {% endif %}
</main>
{% endblock %}
